
  
  
  @media only screen and (max-width:560px) {
    .home {
        display: none;
    
    }
    .mob1 img {
        width:4rem !important;
    
    
    
    }

    .mob-checkbox {
        display: none;
    }

    .poco-col1 {
        display: none;
    }

    .ratings {
        display: none;
    }

    .star-rate {
        display: none;
    }

    .gb-ul {
        display: none;
    }

    .poco {
        font-size: 12px !important;
    }

    .media {
        display: flex !important;
        padding-left: 2rem;
        color: #878787;

    }

    .rating-no {
        color: #878787 !important;

    }

    .rating span {
        display: flex !important;
    }

    .media-img {
        display: flex !important;


    }

    .media-imge {
        width: 3rem !important;
        height: 1rem;
        padding-left: 1rem;
    }

    .mob-poco {
    
         align-items: center;
        text-align: start;
    } 

     .media-image {
        display: flex !important;
    }

    .rating-no {
        display: flex !important;
    }

    .media-imge {
        display: flex !important;
    }

    .amt-media {
        display: flex !important;
        padding-left: 2rem;
        gap: 3px;

    }

    .line-amt {
        font-size: 10px;
        color: #878787;
    }

    .off-amt {
        font-size: 10px;
        color: rgba(75, 181, 80, 1.00);
    }

    .free-delivery {
        padding-left: 2rem;
        color: #000000;
    }

    .upto-media {
        display: flex !important;
        padding-left: 2rem;
    }

    .bank-offer {
        display: flex !important;
        padding-left:2rem;
        color: #26A541;
        padding-bottom: 4rem;
    }
    .wrappermob{
     border-bottom: 1px solid #f0f0f0;
    }

    /* .gb-container {
        display: block !important;
        padding-right: 2rem;
        font-size: 13px;
        text-align: center;
        line-height: 1rem;
        color: #878787;


    } */

    .div-display {
        display: flex;
        margin-top: 5px;

    }

    .div-22 {
        padding-left: 1rem;
    }

    .mob1 img {
        width: 100%;
        height: 100%;

        object-fit: contain;
        opacity: 1;


    }

    .div-1 {
        border: 1px solid #878787;
        border-radius: 2px;
         border-style: groove;
        color: #878787;}
         
    

     .div-2 {
        border: 1px solid #878787;
        border-radius: 2px;
    }

    .div-22 {

        border: 1px solid #878787;
        border-radius: 2px;
        margin-left: 1rem;
    }

    .div-row {
        display: flex;
        margin-top: 5px;
    }

    .div-3 {
        border: 1px solid #878787;
        border-radius: 2px;
    }

    .div-33 {
        border: 1px solid #878787;
        border-radius: 2px;
        height: 1rem;
        text-align: center;
        padding-left: 1rem;
        margin-left: 1rem;
    } 


 .hero-top{
    display: flex;
    flex-grow: 1;
    overflow: auto;
    


} 
 .media-img {
    display: none;
}

.home {
    background: #fff;
    padding: 12px 16px 0;
    border-bottom: 2px solid #f0f0f0;
    margin-top: 1rem;
    margin-left: 2rem;



}}
.card-container {
    display: flex;
    flex-direction: column;
    
}

.home-2 {
    text-decoration: none;
    color: #878787;

}

.home-mobile {
    display: flex;

    border: none;
    outline: none;
}

.mobile-products {
    display: flex;
}

.mobile-dispaly {
    display: flex;
    text-align: center;


}

.mobile-dispaly span {
    padding-top: 1rem;
    color: #878787;
    font-size: 12px;
    padding-left: 1rem;
}

.mobile-dispaly h3 {
    font-size: 12px;
}

.sort-by {
    display: flex;
    font-size: small;
    gap: 2rem;

}

.mob1 img {
    width:7rem;



}


.wrappermob {
    border-bottom: 2px solid #f0f0f0;
}

.mob1 {
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;

}

.poco {
    padding-left: 2rem;
    font-size: 17px;
    font-weight: 600;
}

.poco:hover {
    color: #2874f0;
} 

.mob-poco { 
    
    display: flex;
} 

 .poco-amt {
    padding-left: 5rem;
}

.ass-logo {
    padding-left:2rem;
    
}


.poco-amount {
    display: flex;
    gap: 2rem;
    margin-left: 5rem;
    padding-top: 10px;
}

.poco-amt2 {
    color: #878787;
    text-decoration: line-through;
}

.pococ31 {
    line-height: 1.5rem;
    font-size: 12px;
    /* padding-left: 4rem; */}


.poco-col1 {
    padding-left: 20rem;
}

.poco-amt3 span {
    color: #388e3c;
    font-size: 13px;
    font-weight: 500;
}

.free h3 {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding-left: 5rem;
}

.upto {

    padding-left: 5rem;
}

.upto-amt {
    display: flex;
}

.star-rating {
    line-height: normal;
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;
    background-color: #388e3c;
}

.start-rate {
    padding-left: 2rem;
    display: flex;
    gap: 1rem;
}

.ratings span {
    color: #878787;
}

.media {
    display: none;
}

.rating-no {
    display: none;
}

.media-imge {
    display: none;
}

.amt-media {
    display: none;
}

.upto-media {
    display: none;
}

.bank-offer {
    display: none;
}

.gb-container {
    display: none;
}

.gb-container {
    padding-right: 5rem;
}

.mob-checkbox {
    padding-left: 1rem;
}

.free-delivery {
    display: none;
}

li::before {
    content: ".";
    color: rgb(194, 194, 194);
    ;
}

.dropdown-cont {
    background-color: #f4f5f6;
    width: 200rem;
    top: 1.9em;
}

.pricelow {
    margin-left: rem;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;

}
.number{
    background:#fff;
    border-top: 1px solid #e0e0e0;
    border-bottom: 10px solid #e0e0e0;
   
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    line-height: 32px;
    display: flex;
}
.num{
    display: flex;
}
.colum-number{
    display: flex;
}
.row-number{
    padding-left:10rem;
 
    text-align: center;
    font-weight: 500;
    display: flex;
    gap: 2rem;

}
.row-number a{
    text-decoration:none;
    border: none;
    outline: none;
}
.figure-a{
    background-color: #2874f0;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
    line-height: 32px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.figure-c{
    display: inline-block;
    line-height: 32px;
    color: #2874f0;
    padding: 0 25px;
    text-transform: uppercase;
}
.yes-no{
    margin: 10px 0px 0px;
    display: flex;
    border-bottom: 10px solid #e0e0e0;
}
.data-yes{
    display: flex;

}
.option{
    padding-left: 3rem;
    gap:3rem;
    display: flex;
}
.option-yes{
    border-radius: 2px;
    border: 1px solid #d7d7d7;
    padding: 6px 28px;
    margin-right: 8px;
    font-weight: 500;
}
.option-no{
    border-radius: 2px;
    border: 1px solid #d7d7d7;
    padding: 6px 28px;
    margin-right: 8px;
    font-weight: 500;
}  
.hero-top{
padding-left: 3rem;
}

