@media only screen and (max-width:560px) {
    .main-left {
        display: none !important;
    }

}

.main-left {

    position: relative;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 6%);

    width: 18rem;
    margin-left: 2rem;
    margin-top: 1rem;
    border-bottom: 3px solid #f0f0f0;
    flex: 0 0 280px;
    padding: 0px 10px px 0px 0px;
}




.fliter-content {
    margin: 4rem 0 0 -4px;
    display: block;
    display: flex;
    padding-right: 3rem;
}

.fliter-info {
    display: flex;
    cursor: pointer;
    font-size: 10px;
    background-color: #e0e0e0;
    box-shadow: 0 2px 4px 0 hsl(0deg 0% 100% / 50%);
    border-radius: 3px;
    margin: 2px 4px;
    overflow: hidden;

    padding: 9px;
}

.main-sectionfliter {
    display: flex;
    margin-bottom: -3rem;
    padding-top: 1rem;
    height: 1rem;

}

.main-right {
    display: flex;
    padding-left: 9rem;
    color: #2874f0;


}

.main-section {
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 1rem;
    margin-left: 2rem;

}

.mobiles-Accessory {
    color: #878787;
}

.cate {

    border-bottom: 3px solid #f0f0f0;
    border-top: 3px solid #f0f0f0;
}

.category-mobile {
    line-height: 2rem;
    display: block;
}

.cate-mob {
    padding-left: 1rem;
}

.map {
    height: 21px;
    width: 21.5px;
    background: #e0e0e0;
    display: inline-block;
}

/* .map1{
    height: 21.87px;
    width: 21.52px;
}
     */
.map-search {
    transform: translateX(0px);
    left: -13.5px;
    display: inline-block;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: -3.5px;
    transition: translate .5 ease-out;
    border-bottom: 3px solid #f0f0f0;
    border-top: 3px solid #f0f0f0;
}

.arrowdown {
    height: 3rem;
    display: flex;
    padding-left: 10rem;




}

.wrapper {
    border-bottom: 3px solid #f0f0f0;
    border-top: 3px solid #f0f0f0;
    font-size: 10px;
}

.wrapper-text {
    display: none;
}

.brandsection {
    display: flex;
    text-align: center;

    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
}

.assurlogo {
    width: 4rem;
    padding-left: 1rem;
}

.assure-checkbox {
    display: flex;

    margin-top: 1rem;
}

.question {

    border-radius: 50%;
    background-color: #fff;
    color: #878787;
    font-weight: 500;
    width: 16px;
    height: 16px;
    font-size: 11px;
    text-align: center;
    display: inline-block;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 1px 0 rgb(0 0 0 / 30%);
    vertical-align: middle;
    margin: 0 2px 0 8px;
    cursor: pointer;
    margin-left: 8rem;
}

.brand {
    font-size: 10px;
}

.min {
    padding-left: 2rem;
}

.rs {
    margin-left: 1rem;
}

.to {
    padding-left: 2rem;
}

.fliter {
    font-size: 20px;
}

.price {
    font-size: 10px;
}

.mainleft-img {
    padding-left: 3rem;
    line-height: 2rem;
}

.help span {
    color: #2874f0;
}

.map-a {
    height: 21.875px;
}

.map-b {
    height: 25px;
    width: 21.5282px;
    background: #e0e0e0;
    display: inline-block;
}

.map-c {
    height: 12.5px;
    width: 21.5282px;
    background: #e0e0e0;
    display: inline-block;
}

.map-d {
    height: 18.75px;
    width: 21.5282px;
    background: #e0e0e0;
    display: inline-block;
}

.map-e {
    height: 25px;
    width: 21.5282px;
    background: #e0e0e0;
    display: inline-block;
}

.map-f {
    height: 12.5px;
    width: 21.5282px;
    background: #e0e0e0;
    display: inline-block;
}

.map-g {
    height: 15.52px;
    width: 21.5282px;
    background: #e0e0e0;
    display: inline-block;
}

.map-h {
    height: 15.52px;
    width: 21.5282px;
    background: #e0e0e0;
    display: inline-block;
}

.map-i {
    height: 12.5px;
    width: 21.5282px;
    background: #e0e0e0;
    display: inline-block;
}

.map-j {
    height: 12.5px;
    width: 21.5282px;
    background: #e0e0e0;
    display: inline-block;
}

.map-k {
    height: 12.5px;
    width: 21.5282px;
    background: #e0e0e0;
    display: inline-block;
}

.map-l {
    height: 12.5px;
    width: 21.5282px;
    background: #e0e0e0;
    display: inline-block;
}

.map-m {
    height: 12.5px;
    width: 21.5282px;
    background: #e0e0e0;
    display: inline-block;
}

.circle-img {
    position: relative;
    height: 13px;
    cursor: pointer;
    background-color: #2874f0;
    transform-origin: left center;
    top: 4px;
    height: 6px;
    display: inline-block;
    top: 6px;
    width: 100%;
}

.circle-left {
    right: 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #bababa;

    background-color: #fff;
    top: 3.5px;
}

.min-rate {
    margin-top: 2rem;
}

.circle {
    transform: translateX(-1.19px);
    right: -13.5px;
    display: inline-block;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    width: 20px;
    height: 20px;
    transform: translateY(px);



}

.circle-right {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #bababa;

    background-color: #fff;
    top: 3.5px;

}

.accordion ul {
    list-style: none;
}

.accordion-content ul {
    list-style: none;
}

.four-stars {
    line-height: normal;
    display: inline-block;

    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;

}